/* Global Styles */
.body{
    background:#E4B7A0;
}
.head{
    text-align: center;
    background:#D9D7D7;
    color: #000000;
    padding: 15px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 4px rgba(18, 5, 116, 0.3);
}
h1 {
    text-align: center;
    background:none;
    color: #dd1811;
    /* padding: 2px; */
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  }
  
  /* Container Styles */
  .container {
    border: 2px solid #F8AFA6;
    padding: 30px;
    margin: 15px auto;
    width:100%;
    height: 100%; /* Adjust as needed */
    text-align: center;
    background-image: linear-gradient( 184.1deg,  rgba(249,255,182,1) 44.7%, rgba(226,255,172,1) 67.2% );
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Button Styles */
  .btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #F8AFA6;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
  }
  
  .btn:hover,
  .btn:active {
    background-color: #e88f7e;
  }
  
  /* Table Styles */
  table {
    margin: 1% auto;
    border-collapse: collapse;
    width: 100%;
    max-width: 900px;
    height: 200px;
    border: 1px solid sandybrown;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0);
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid saddlebrown;
  }
  
  #header {
    background-color: #A45C40;
    color: #fff;
  }
  
  tr {
    transition: all 0.2s ease-in;
    cursor: pointer;
  }
  
  tr:hover {
    background-color: #E4B7A0;
    transform: scale(1.02);
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0);
  }
  
  /* Media Queries */
  @media only screen and (max-width: 768px) {
    .container {
      padding: 20px;
    }
  
    table {
      width: 90%;
    }
  }
  